
<%- include('includes/employee/header.ejs')  %>
<!--header menu end-->
<!--sidebar start-->
<%- include('includes/employee/sidebar.ejs')  %>
<!--sidebar end-->
<!--main container start-->

<div class="main-container">
    <div class="alert alert-secondary text-center ">
        <h1>All Contracts</h1>

    </div>
    <%- include('includes/employee/flash') %>

    <% regErrors.forEach(function(message){%>
        <div class="alert alert-danger small"><%= message%></div>
    <%}) %>

<table class="table  table-bordered table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>Contract No</th>
            <th>FullName</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>RoomId</th>
            <th>Price</th>
            <th>Date</th>
            <th>Advance</th>
        </tr>
        </thead>
        <tbody>
      
                
          
            <%contract.forEach(contract => {%>
                <tr>
                <td><%=contract._id %></td>
                <td><%=contract.contractNo %></td>
                <td><%=contract.fullnameId.fullname %></td>
                <td><%=contract.startDate %></td>
                <td><%=contract.endDate %></td>
                <td><%= contract.roomnoId.roomno  %></td>
                <td><%=contract.price %></td>
                <td><%=contract.date %></td>
                <td><%=contract.advance %></td>
                <td class="d-flex">
                    <a href="/contract/<%= contract._id%>" class="btn btn-sm btn-warning mr-2">Edit</a>
                
                    <form action="/allcontracts/<%= contract._id%>" method="POST">
                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                    </form>
                    </td>
            </tr>

              
       <% }); %> 
          
        </tbody>
</table>
   
</div>